@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-jetbrainsMono: "JetBrains Mono", monospace;
}
body {
  font-family: var(--font-jetbrainsMono);
}
html {
  scroll-behavior: smooth;
}
